.cart-items::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.cart-items::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.cart-items::-webkit-scrollbar-thumb {
  background: #808080a5;
}

/* Handle on hover */
.cart-items::-webkit-scrollbar-thumb:hover {
  background: #555555b3;
}

.cart-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: opacity .5s forwards;
}

.cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 65px;
  width: 420px;
  right: -500px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(0px);
  animation: rightToLeft .5s forwards;
  padding-bottom: 100px;
  overflow-y: hidden;
}

.cart-items {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 800px;
  width: 100%;
  align-items: center;
  overflow-y: auto;
}

.overlay.closing {
  animation: opacityBack .5s forwards;
}

.cart.closing {
  animation: leftToRight .5s forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes rightToLeft {

  100% {
    right: 0px;
  }
}

@keyframes opacityBack {
  100% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes leftToRight {
  0% {
    right: 0;
  }

  100% {
    right: -500px;
  }
}

@media (max-width: 430px) {
  .cart {
    width: 100vw;
  }
}