.login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial", sans-serif;
  overflow: hidden;

}

.login-wrapper {
  display: flex;
  gap: 50px;
  position: relative;
  left: 0;
  transition: all .6s;
  align-items: center;
}

.login-wrapper.active {
  left: -305px;
  /* transform: translateX(-305px); */
}

.form-login {
  display: block;
  width: 317px;
  padding: 30px 30px 30px 30px;
  background: rgba(5, 193, 226, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(23, 228, 212, 0.3);
  border-radius: 15px;
  color: #fff;

  overflow: hidden;
}

.form-login__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8bb7fd55;
  border-radius: 20px;
  color: #fff;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid rgba(23, 228, 212, 0.3);
  position: relative;
}

.form-login__btns-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  border-radius: 20px;
  background-color: initial;
  height: 100%;
  line-height: 29px;
  box-shadow: inset 0 0 5px 1px #0fc, inset 0 0 12px 7px #43acd8;
  transform: translateX(0);
  transition: all .35s;
}

.form-login__btns-active.signUp {
  transform: translateX(95px);
}


.form-login__btns button {
  padding: 10px 10px;
  width: 105px;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
  position: relative;
  z-index: 15;
}

.login-label {
  display: block;
  margin-bottom: 10px;
}

.error {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: #d15c5c;
  font-family: "Poppins", sans-serif;
  max-width: 255px;
}

.login input {
  display: block;
  border: none;
  padding: 10px;
  padding-left: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: inset 0 0 2px 1px rgba(255, 28, 28, 0.0), inset 0 0 15px 5px #ff000000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(23, 228, 212, 0.3);
  width: 255px;
  transition: all .5s;
}

.input-error {
  border: 1px solid rgba(255, 0, 0, 0) !important;
  box-shadow: inset 0 0 1px 1px rgb(255, 0, 0), inset 0 0 12px 7px #d84343 !important;

}

.login input::placeholder {
  color: #b6b6b6;
}



.login .title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 25px;
}

.register-signUp {
  display: block;
  cursor: pointer;
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 64, 85, 0.405);
  border-radius: 10px;
  box-shadow: inset 0 0 2px 1px rgba(255, 28, 28, 0.0), inset 0 0 15px 5px #ff000000;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(23, 228, 212, 0.3);
  transition: all 1.5s;
  margin-left: auto;
  letter-spacing: 1.5px;
}

.register-signUp:hover {
  box-shadow: inset 0 0 2px 10px rgb(0, 59, 85), inset 0 0 10px 22px rgb(0, 59, 85), inset 0 0 21px 30px rgb(0, 225, 255);
}

.register-signUp:disabled {
  opacity: .35;
}