.cart-btn__count {
  position: absolute;
  right: -4px;
  top: -6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  z-index: 100;
  font-size: 13px;
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.2); */
  background-color: rgba(0, 204, 255, 0.209);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cart-btn__count span {
  display: block;
  position: absolute;
  top: 2.1px;
  line-height: 1;
  left: 3px;
}