.filter-screen {
  background-image: url('../../images/2.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  color: #fff;
  font-family: 'MBF Inno';
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: 1px 1px 10px rgba(110, 7, 119, 0.5);
  box-shadow: 1px 1px 5px 1px rgba(5, 193, 226, 0.5);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.filter-screen h1 {
  text-align: center;
}

.filter-screen span {
  display: inline-block;
}

@media (max-width: 1170px) {
  .filter-screen {
    height: 400px;
    font-size: 44px;
  }
}


@media (max-width: 700px) {
  .filter-screen {
    font-size: 36px;
  }
}

@media (max-width: 700px) {
  .filter-screen {
    height: 400px;
    font-size: 30px;
  }
}