.filter-screen {
  background-image: url('../../images/2.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  color: #fff;
  box-shadow: 1px 1px 10px  rgba(110, 7, 119, 0.5);
  font-family: 'MBF Inno';
  text-transform: uppercase;
  letter-spacing: 3px;
}
.filter-screen span{
  display: inline-block;
}