.ufo-contain {
  width: 150px;
  height: 50px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(15deg) scale(1, 1);
  -moz-transform: translate(-50%, -50%) rotate(15deg) scale(1, 1);
  -ms-transform: translate(-50%, -50%) rotate(15deg) scale(1, 1);
  -o-transform: translate(-50%, -50%) rotate(15deg) scale(1, 1);
  transform: translate(-50%, -50%) rotate(15deg) scale(1, 1);
  -webkit-animation: stray 6s ease-in-out infinite alternate;
  -moz-animation: stray 6s ease-in-out infinite alternate;
  animation: stray 6s ease-in-out infinite alternate;
}

@-moz-keyframes stray {
  0% {
    top: 49.5%;
    left: 50.5%;
  }

  30% {
    top: 50.5%;
    left: 49.5%;
  }

  50% {
    top: 50.5%;
    left: 50.5%;
  }

  70% {
    top: 49.5%;
    left: 49.5%;
  }

  100% {
    top: 49.5%;
    left: 50.5%;
  }
}

@-webkit-keyframes stray {
  0% {
    top: 49.5%;
    left: 50.5%;
  }

  30% {
    top: 50.5%;
    left: 49.5%;
  }

  50% {
    top: 50.5%;
    left: 50.5%;
  }

  70% {
    top: 49.5%;
    left: 49.5%;
  }

  100% {
    top: 49.5%;
    left: 50.5%;
  }
}

@keyframes stray {
  0% {
    top: 49.5%;
    left: 50.5%;
  }

  30% {
    top: 50.5%;
    left: 49.5%;
  }

  50% {
    top: 50.5%;
    left: 50.5%;
  }

  70% {
    top: 49.5%;
    left: 49.5%;
  }

  100% {
    top: 49.5%;
    left: 50.5%;
  }
}

@media all and (max-width: 768px) and (orientation: landscape) {
  .ufo-contain {
    margin-top: -50px;
  }
}

.ufo-upper {
  background-color: #999;
  width: 120px;
  height: 35px;
  position: absolute;
  top: 0%;
  left: 50%;
  border-radius: 100%;
  box-shadow: inset 0px 7px 0px 0px rgba(255, 255, 255, 0.2);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.ufo-upper .cockpit {
  background-color: #1c1c1c;
  width: 50px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  box-shadow: -8px 3px 0px 0px #7a7a7a;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ufo-upper .cockpit .alien {
  background-color: #6fdcae;
  width: 30px;
  height: 40px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  box-shadow: inset -6px 3px 0px 0px rgba(255, 255, 255, 0.6);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.ufo-upper .cockpit .alien .eye {
  background-color: #f7fff7;
  width: 15px;
  height: 15px;
  overflow: hidden;
  position: absolute;
  top: 20%;
  left: 50%;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 0.5px #6fdcae;
  cursor: pointer;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.ufo-upper .cockpit .alien .eye:before {
  content: "";
  background-color: #1c1c1c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 25%;
  left: 50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, 0%) scale(1, 1);
  -moz-transform: translate(-50%, 0%) scale(1, 1);
  -ms-transform: translate(-50%, 0%) scale(1, 1);
  -o-transform: translate(-50%, 0%) scale(1, 1);
  transform: translate(-50%, 0%) scale(1, 1);
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -ms-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  -webkit-animation: iris 6s ease infinite alternate;
  -moz-animation: iris 6s ease infinite alternate;
  animation: iris 6s ease infinite alternate;
}

@-moz-keyframes iris {
  0% {
    top: 25%;
    left: 50%;
  }

  5% {
    top: 25%;
    left: 50%;
  }

  10% {
    top: 12%;
    left: 62%;
  }

  28% {
    top: 12%;
    left: 62%;
  }

  34% {
    top: 32%;
    left: 50%;
  }

  48% {
    top: 32%;
    left: 50%;
  }

  64% {
    top: 24%;
    left: 48%;
  }

  70% {
    top: 24%;
    left: 48%;
  }

  86% {
    top: 32%;
    left: 42%;
  }

  100% {
    top: 25%;
    left: 50%;
  }
}

@-webkit-keyframes iris {
  0% {
    top: 25%;
    left: 50%;
  }

  5% {
    top: 25%;
    left: 50%;
  }

  10% {
    top: 12%;
    left: 62%;
  }

  28% {
    top: 12%;
    left: 62%;
  }

  34% {
    top: 32%;
    left: 50%;
  }

  48% {
    top: 32%;
    left: 50%;
  }

  64% {
    top: 24%;
    left: 48%;
  }

  70% {
    top: 24%;
    left: 48%;
  }

  86% {
    top: 32%;
    left: 42%;
  }

  100% {
    top: 25%;
    left: 50%;
  }
}

@keyframes iris {
  0% {
    top: 25%;
    left: 50%;
  }

  5% {
    top: 25%;
    left: 50%;
  }

  10% {
    top: 12%;
    left: 62%;
  }

  28% {
    top: 12%;
    left: 62%;
  }

  34% {
    top: 32%;
    left: 50%;
  }

  48% {
    top: 32%;
    left: 50%;
  }

  64% {
    top: 24%;
    left: 48%;
  }

  70% {
    top: 24%;
    left: 48%;
  }

  86% {
    top: 32%;
    left: 42%;
  }

  100% {
    top: 25%;
    left: 50%;
  }
}

.ufo-upper .cockpit .alien .eye:after {
  content: "";

  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 40px #6fdcae;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
  -webkit-animation: blink 6s ease-out infinite;
  -moz-animation: blink 6s ease-out infinite;
  animation: blink 6s ease-out infinite;
}

@-moz-keyframes blink {
  0% {
    height: 15px;
  }

  90% {
    height: 15px;
  }

  95% {
    height: 0px;
  }

  100% {
    height: 15px;
  }
}

@-webkit-keyframes blink {
  0% {
    height: 15px;
  }

  90% {
    height: 15px;
  }

  95% {
    height: 0px;
  }

  100% {
    height: 15px;
  }
}

@keyframes blink {
  0% {
    height: 15px;
  }

  90% {
    height: 15px;
  }

  95% {
    height: 0px;
  }

  100% {
    height: 15px;
  }
}

.ufo-upper .cockpit .alien .eye:hover:before {
  -webkit-transform: translate(-50%, 0%) scale(0.5, 0.5);
  -moz-transform: translate(-50%, 0%) scale(0.5, 0.5);
  -ms-transform: translate(-50%, 0%) scale(0.5, 0.5);
  -o-transform: translate(-50%, 0%) scale(0.5, 0.5);
  transform: translate(-50%, 0%) scale(0.5, 0.5);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

.ufo-upper .cockpit .alien .eye:hover:after {
  margin-top: 16px;
  webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.ufo-upper .cockpit .glass {
  background-color: rgba(61, 90, 108, 0.4);
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom: 1px solid #999;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.ufo-upper .cockpit .glass-edge {
  background-color: transparent;
  width: 50px;
  height: 7.5px;
  overflow: hidden;
  position: absolute;
  bottom: -1px;
  left: 50%;
  border-bottom: 1px solid transparent;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.ufo-upper .cockpit .glass-edge:before {
  content: "";
  background-color: transparent;
  width: 50px;
  height: 15px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  border-radius: 100%;
  box-shadow: -19px 0px 0px 10px #7a7a7a, 45px 0px 0px 10px #999;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.ufo-lower {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotateX(70deg);
  -moz-transform: rotateX(70deg);
  -ms-transform: rotateX(70deg);
  -o-transform: rotateX(70deg);
  transform: rotateX(70deg);
}

.ufo-lower .lights {
  background-color: #454545;
  width: 154px;
  height: 154px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: spin 1s linear infinite reverse;
  -moz-animation: spin 1s linear infinite reverse;
  animation: spin 1s linear infinite reverse;
}

@-moz-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ufo-lower .lights span {
  background-color: #ffcb47;
  width: 50%;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 0%;
  display: block;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.ufo-lower .lights span:nth-child(1) {
  -webkit-transform: translate(0%, -50%) rotate(0deg);
  -moz-transform: translate(0%, -50%) rotate(0deg);
  -ms-transform: translate(0%, -50%) rotate(0deg);
  -o-transform: translate(0%, -50%) rotate(0deg);
  transform: translate(0%, -50%) rotate(0deg);
}

.ufo-lower .lights span:nth-child(2) {
  -webkit-transform: translate(0%, -50%) rotate(120deg);
  -moz-transform: translate(0%, -50%) rotate(120deg);
  -ms-transform: translate(0%, -50%) rotate(120deg);
  -o-transform: translate(0%, -50%) rotate(120deg);
  transform: translate(0%, -50%) rotate(120deg);
}

.ufo-lower .lights span:nth-child(3) {
  -webkit-transform: translate(0%, -50%) rotate(240deg);
  -moz-transform: translate(0%, -50%) rotate(240deg);
  -ms-transform: translate(0%, -50%) rotate(240deg);
  -o-transform: translate(0%, -50%) rotate(240deg);
  transform: translate(0%, -50%) rotate(240deg);
}

.ufo-lower:after {
  content: "";
  background-color: #454545;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  box-shadow: inset -12px 12px 0px 0px rgba(255, 255, 255, 0.6);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tractor-beam {
  box-shadow: 0px 43px 100px 4px #fff;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  -ms-perspective: 200px;
  perspective: 200px;
  -webkit-perspective-origin: 50% 100%;
  /* Chrome, Safari, Opera */
  perspective-origin: 50% 100%;
}

.tractor-beam:before {
  content: "";
  background-color: #f7fff7;
  width: 60px;
  height: 500px;
  position: absolute;
  top: 25px;
  left: 50%;
  opacity: 0.6;
  padding: 1px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translate(-50%, 0%) rotateX(45deg);
  -moz-transform: translate(-50%, 0%) rotateX(45deg);
  -ms-transform: translate(-50%, 0%) rotateX(45deg);
  -o-transform: translate(-50%, 0%) rotateX(45deg);
  transform: translate(-50%, 0%) rotateX(45deg);
  -webkit-animation: lightshift 3s ease-in-out infinite alternate;
  -moz-animation: lightshift 3s ease-in-out infinite alternate;
  animation: lightshift 3s ease-in-out infinite alternate;
}

@-moz-keyframes lightshift {
  0% {
    -webkit-transform: translate(-50%, 0%) rotateX(45deg);
    -moz-transform: translate(-50%, 0%) rotateX(45deg);
    -ms-transform: translate(-50%, 0%) rotateX(45deg);
    -o-transform: translate(-50%, 0%) rotateX(45deg);
    transform: translate(-50%, 0%) rotateX(45deg);
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translate(-50%, 0%) rotateX(40deg);
    -moz-transform: translate(-50%, 0%) rotateX(40deg);
    -ms-transform: translate(-50%, 0%) rotateX(40deg);
    -o-transform: translate(-50%, 0%) rotateX(40deg);
    transform: translate(-50%, 0%) rotateX(40deg);
    opacity: 0.5;
  }
}

@-webkit-keyframes lightshift {
  0% {
    -webkit-transform: translate(-50%, 0%) rotateX(45deg);
    -moz-transform: translate(-50%, 0%) rotateX(45deg);
    -ms-transform: translate(-50%, 0%) rotateX(45deg);
    -o-transform: translate(-50%, 0%) rotateX(45deg);
    transform: translate(-50%, 0%) rotateX(45deg);
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translate(-50%, 0%) rotateX(40deg);
    -moz-transform: translate(-50%, 0%) rotateX(40deg);
    -ms-transform: translate(-50%, 0%) rotateX(40deg);
    -o-transform: translate(-50%, 0%) rotateX(40deg);
    transform: translate(-50%, 0%) rotateX(40deg);
    opacity: 0.5;
  }
}

@keyframes lightshift {
  0% {
    -webkit-transform: translate(-50%, 0%) rotateX(45deg);
    -moz-transform: translate(-50%, 0%) rotateX(45deg);
    -ms-transform: translate(-50%, 0%) rotateX(45deg);
    -o-transform: translate(-50%, 0%) rotateX(45deg);
    transform: translate(-50%, 0%) rotateX(45deg);
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translate(-50%, 0%) rotateX(40deg);
    -moz-transform: translate(-50%, 0%) rotateX(40deg);
    -ms-transform: translate(-50%, 0%) rotateX(40deg);
    -o-transform: translate(-50%, 0%) rotateX(40deg);
    transform: translate(-50%, 0%) rotateX(40deg);
    opacity: 0.5;
  }
}


.ufo-text {
  font-size: 35px;
  color: #fff;
  text-align: center;
  font-family: 'Arial', sans-serif;
}
.ufo-text:first-child{
  margin-top: 150px;
}