.cart-btn__count {
  position: absolute;
  right: -8px;
  top: -10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: rgba(78, 1, 75, 0.409);
  color: #fff;
  z-index: 100;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}