.products-item {
  flex: 1 1 25%;
  /* padding: 10px 10px 20px 10px; */
  box-shadow: inset -1px 0 0 0 #e8e8e8, inset 0 -1px 0 0 #e8e8e8, -1px -1px 0 0 #e8e8e8, -1px 0 0 0 #e8e8e8, 0 -1px 0 0 #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.products-item__link {
  position: relative;
  margin-bottom: 15px;
  max-width: 280px;
  height: 330px;
  padding: 10px 10px 0 10px;
}

.products-item__hidden {
  position: absolute;
  height: 330px;
  top: 0;
  width: 50%;
}

.products-item__hidden--secondImg {
  left: 0;
}

.products-item__hidden--thirdImg {
  right: 0;
}

.products-item__img {
  display: block;
  height: 100%;
  cursor: pointer;
  width: 100%;
  min-width: 247px;
}
.products-item__info{
  width: 100%;
  flex: 1;
  background: rgba(230, 230, 230, 0.35);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
  padding-left: 15px; 
}
.products-item__title,
.products-item__price {
  color: #fff;
}

.products-item__title h4 {
  max-width: 180px;
}

.products-item__price {
  font-size: 18px;
  padding-bottom: 10px;
}

.products-item__title {
  font-size: 22px;
}