.products-item {
  flex: 1 1 25%;
  /* padding: 10px 10px 20px 10px; */
  /* box-shadow: inset -1px 0 0 0 #e8e8e8, inset 0 -1px 0 0 #e8e8e8, -1px -1px 0 0 #e8e8e8, -1px 0 0 0 #e8e8e8, 0 -1px 0 0 #e8e8e8; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.products-item__link {
  position: relative;
  width: 250px;
  height: 330px;
  /* margin-bottom: 15px; */
  /* padding: 10px 10px 0 10px; */
  margin: 10px 10px 0px 10px;
  background-color: #fff;
  border-top-left-radius: 20px;
  overflow: hidden;
  border-top-right-radius: 20px;
}

.products-item__hidden {
  position: absolute;
  height: 330px;
  top: 0;
  width: 50%;
}

.products-item__hidden--secondImg {
  left: 0;
}

.products-item__hidden--thirdImg {
  right: 0;
}

.products-item__img {
  display: block;
  height: 100%;
  cursor: pointer;
  width: 100%;
  min-width: 247px;
  /*  */
  object-fit: contain;
}

.products-item__info {
  width: 250px;
  flex: 1 1;
  background: rgba(5, 193, 226, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 5px 5px 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}

.products-item__title,
.products-item__price {
  color: #fff;
}

.products-item__title h4 {
  max-width: 180px;
}

.products-item__price {
  font-size: 18px;
}

.products-item__title {
  font-size: 22px;
}

.products-item__add {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  border: none;
  border-radius: 20px;
  cursor: pointer;

}
.products-item__add img{
  filter: drop-shadow(0 0 2px rgb(20, 127, 220)); 
}

.products-item__add.active {
  filter: sepia(70%) hue-rotate(160deg) saturate(900%);
}

.products-item__like img {
  display: block;
  filter: drop-shadow(0 0 2px rgb(20, 127, 220));
}

.products-item__like {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  cursor: pointer;
  background: none;
  width: 32px;
  height: 32px;
}

.products-item__like.active img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}