.cart-item {
  display: flex;
  gap: 10px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  /* align-items: center; */
  position: relative;
  min-height: 120px;
  width: 360px;
}

.cart-item__img {
  width: 120px;
  height: 120px;
}

.cart-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.cart-item__name {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.cart-item__price {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.cart-item__info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  position: relative;
  max-width: 180px;
}

.cart-item__btn {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 32px;
  height: 32px;
  padding: 10px;
  z-index: 100;
  cursor: pointer;
  transform: translateY(-50%);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  background: rgba(30, 145, 207, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.cart-item__btn:hover {
  background: rgba(255, 255, 255, 0.29);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),inset 0px 0px 20px 0px rgb(0, 187, 255);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(0, 242, 255, .75);
}

.cart-item__btn-img {
  width: 100%;
  height: 100%;
}