@import url('./fonts/fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



input,
textarea,
button,
select,
img,
div,
a {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
  /* border: 1px solid rgba(160, 96, 158, 0.3); */
}