* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MBF Inno';
  src: url('./fonts/MBFInno.woff2') format('woff2'),
      url('./fonts/MBFInno.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


a{
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
/* border: 1px solid rgba(160, 96, 158, 0.3); */
}

