* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 400vh;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  background: rgba(160, 96, 158, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
/* border: 1px solid rgba(160, 96, 158, 0.3); */
}